// Scale
$scale: 8px

// Screen
$tablet: 640px
$pc: 1024px

$mobile_screen_only: "(max-width: #{$tablet})"
$tablet_screen: "(min-width: #{$tablet})"
$pc_screen: "(min-width: #{$pc})"

// Form
$input__height: 40px
$input__font-size: 1em
$input__border: 1px solid #ccc
$input__border-radius: 3px
$input__box-shadow: 2px 2px 2px red

$textarea__height: 100px

$button__height: 35px
$button__text-color: #fff
$button__border-radius: 3px
$button__bg-color--default: gray
$button__bg-color--primary: blue
$button__bg-color--success: green
$button__bg-color--warning: yellow

// Grid
$container__width: 80%

